.dockerignore                  export-ignore
.editorconfig                  export-ignore
.gitattributes                 export-ignore
.github/                       export-ignore
.gitignore                     export-ignore
.php-cs-fixer.dist.php         export-ignore
.tool-versions                 export-ignore
CHANGELOG.md                   export-ignore
CODE_OF_CONDUCT.md             export-ignore
CONTRIBUTING.md                export-ignore
docker-compose.integration.yml export-ignore
Dockerfile.integration         export-ignore
docs/                          export-ignore
examples/                      export-ignore
grumphp.yml                    export-ignore
phpstan.neon.dist              export-ignore
phpunit.xml.dist               export-ignore
psalm.xml.dist                 export-ignore
rector.php                     export-ignore
RELEASE.md                     export-ignore
tests/                         export-ignore
vendor/                        export-ignore
