<?xml version="1.0"?>
<psalm
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    noCache="true"
    errorLevel="5"
    resolveFromConfigFile="true"
    findUnusedCode="false"
    findUnusedVariablesAndParams="true"
    allowPhpStormGenerics="true"
    useDocblockTypes="true"
    requireDocblocks="true"
>
    <projectFiles>
        <directory name="src" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <MissingReturnType errorLevel="info" />
        <MissingParamType errorLevel="info" />
        <MissingPropertyType errorLevel="info" />

        <InvalidReturnType errorLevel="error">
            <errorLevel type="suppress">
                <file name="src/Results/Success.php" />
                <file name="src/Results/Failure.php" />
            </errorLevel>
        </InvalidReturnType>
        <InvalidReturnStatement errorLevel="error">
            <errorLevel type="suppress">
                <file name="src/Results/Success.php" />
                <file name="src/Results/Failure.php" />
            </errorLevel>
        </InvalidReturnStatement>
        <InvalidArgument errorLevel="error" />
        <DocblockTypeContradiction errorLevel="error" />
        <RedundantCondition errorLevel="info" />
        <NoValue errorLevel="suppress" />
    </issueHandlers>
</psalm>
